@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap');

:root{
    --primary-color: rgb(170,0,0);
    --menu-color: rgb(221, 206, 206);
    --nav-hover: rgba(255, 108, 108, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.navbar{
    padding: 0;
    position: fixed;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.52);
}

.nav-logo img{
    margin: 0;
    height: 4em;
    color: var(--menu-color);
    font-weight: 900;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item{
    position: relative;
    padding: 0 0;
    margin: 0;
    font-weight: 500;
    font-size: .9rem;
    text-transform: uppercase;
}

.nav-link{
    color: var(--menu-color);
    align-items: center;
    padding: 1.2rem;
    margin: 0;
}

.nav-link a{
    margin: 0;
    color: var(--menu-color);
}

.nav-link:hover{
    color: var(--menu-color);
    border-radius: 5%;
    transition: all .3s ease 0s;
    background-color: var(--nav-hover);
}

/* Position absolute to nav-item */
.nav-dropdown{
    position: absolute;
    top: 3.7rem;
    left: .1rem;
    background-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
    border-radius: .2em;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    padding: 0;
}

.nav-item:hover .nav-dropdown, .nav-item:focus .nav-dropdown, .nav-link:hover .nav-dropdown, .nav-link:focus .nav-dropdown{
    opacity: 1;
    visibility: visible;
}

.nav-dropdown li{
    margin: 0;
    width: 12rem;
}

.nav-sublink{
    display: inline-block;
    width: 100%;
    padding: .8em 1rem;
    color: var(--menu-color);
}

.nav-sublink:hover{
    color: var(--menu-color);
    background-color: var(--nav-hover);
    transition: all .3s ease 0s;
}

.hamburger {
    width: 2.2rem;
    height: 1.8rem;
    background-color: transparent;
    border-style: none;
}

.btn-hamburger{
    display: none;
    width: 2.2rem;
}

.bar {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(241, 182, 182);
}

@media only screen and (max-width: 871px) {

    .nav-menu {
        position: fixed;
        left: 0;
        top: -100%;
        flex-direction: column;
        background-color: var(--primary-color);
        width: 100%;
        border-radius: 2px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: -1;
        
    }

    .nav-link:hover{
        background-color: var(--nav-hover);
        transition: all .3s ease 0s;
    }

    .nav-dropdown{
        display: none;
        position: relative;
    }

    .nav-dropdown li{
        width: 100vw;
    }

    .nav-item:hover .nav-dropdown, .nav-item:focus .nav-dropdown{
        top: .3rem;
        left: 0;
        display: inline-block;
    }

    .nav-item{
        padding: 0;
        margin: 0;
    }


    .nav-menu.active{
        top: 4rem;
    }

    .nav-link{
        padding: 1rem 50rem;
    }

    .btn-hamburger{
        display: block;
        position: relative;
    }

    .hamburger{
        position: absolute;
        top: 0;
        display: block;
        cursor: pointer;
    }
    
    .btn-hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .btn-hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .btn-hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    


}